@tailwind base;
@tailwind components;
@tailwind utilities;

.cardContainer .playBtn{
    opacity: 0;
}
.cardContainer:hover .playBtn{
    opacity: 1;
    transition:ease-in-out .3s;
    transition-timing-function: linear;
    top: 6.5vw;
}
.songsContainer .Liked , .threeDots , .hoverBannerPlayBtn{
    opacity: 0;
}

.songsContainer:hover .Liked{
    opacity: 1;
}
.songsContainer:hover .threeDots{
    opacity: 1;
}
.songsContainer:hover .hoverBannerPlayBtn{
    opacity: 1;
}
.topResult .topResultPlayBtn{
    opacity: 0;
}
.topResult:hover .topResultPlayBtn{
    opacity: 1;
    top: 7.5vw;
    transition:ease-in-out .2s;
    transition-timing-function: linear;
}